* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app-content {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  background: rgb(52, 59, 52);
  color: #fff;
  padding: 1rem;
  width: 100%;
}

main {
  overflow: auto;
}

.chords-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

#song-sections {
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  max-width: 40rem;
  margin: 0 auto;
}

.section-name {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
  border-top: 3px solid rgba(52, 59, 52, 0.4);
  border-left: 3px solid rgba(52, 59, 52, 0.4);
  padding: 0.5rem 0 0 0.5rem;
  opacity: 0.2;
}

.chord-name {
  display: flex;
  align-items: flex-end;
  width: 6rem;
  height: 2rem;
  padding: 0 0.5rem;
  transition: color 0.3s, background 0.3s;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
}

.chord-name:hover {
  color: #fff;
  background-color: #333;
  cursor: pointer;
}
